body{
font-family:Arial;
background:lightgreen;
padding:40px;
text-align:center;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:800px;
margin:auto;
}

button{
padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
margin:10px;
}

button:hover{
background:#45a049;
}

img{
max-width:300px;
margin-top:20px;
border-radius:6px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ddd;
padding:8px;
}

th{
background:#4CAF50;
color:white;
}

pre{
background:#222;
color:#00ff9d;
padding:10px;
overflow:auto;
}